body {
	background-image: url("/img/bg.png");
	background-size: auto;
	margin-top:20px;
}

#newsFeed {
	float:right;
	width:60%;
	margin-right:20px;
	
}

#newsBox {
	border:2px solid #7b4f17;
	padding:10px 10px 12px 10px;
	margin-bottom:10px;
	margin-top:30px;
}

#wrapper {
	display:block;
	margin:0 auto;
	width:60%;
	padding-bottom:80px;
	border:2px solid #7b4f17;
	background-color: #A28A5D;
}

a:visited {
	color:#000000;
}

a:link {
	color:#000000;
}

a:hover {
	color:#ff0000;
}

.copyright {
	display:block;
	color:#000000;
}

.panel {
	display:block;
	width:20%;
	padding:10px 0px 10px 40px;
	margin-left:20px;
	border:2px solid #7b4f17;
	color:#000000;
}

.panel2 {
	display:block;
	width:20%;
	padding:10px 0px 10px 40px;
	margin-left:20px;
	margin-top:30px;
	border:2px solid #7b4f17;
	color:#000000;
}

.links {
	display:inline;
	list-style-type: none;
	
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 26px;
    border: 1px solid #664214;
    border-radius: 8px;
    background: #c07d26;
    background: -webkit-gradient(linear, left top, left bottom, from(#c07d26), to(#664214));
    background: -moz-linear-gradient(top, #c07d26, #664214);
    background: linear-gradient(to bottom, #c07d26, #664214);
    -webkit-box-shadow: #e6962e 0px 0px 40px 0px;
    -moz-box-shadow: #e6962e 0px 0px 40px 0px;
    box-shadow: #e6962e 0px 0px 40px 0px;
    text-shadow: #3c270c 1px 1px 1px;
    font: normal normal normal 20px arial;
    color: #000000;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #784e18;
    background: #e6962e;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6962e), to(#7a4f18));
    background: -moz-linear-gradient(top, #e6962e, #7a4f18);
    background: linear-gradient(to bottom, #e6962e, #7a4f18);
    color: #000000;
    text-decoration: none;
}
.button:active {
    background: #664214;
    background: -webkit-gradient(linear, left top, left bottom, from(#664214), to(#664214));
    background: -moz-linear-gradient(top, #664214, #664214);
    background: linear-gradient(to bottom, #664214, #664214);
}